{% extends 'base.html.twig' %}
{% set entity = 'user' %}
{% if id == 'new' %}
	{% set action = 'create' %}
{% else %}
	{% set action = 'update' %}
{% endif %}

{% block title %}{{ parent() }} - {{ ('entity.general.crud.html.title_'~action ) |trans}}{{ ('entity.'~entity~'.article') |trans}} {{ ('entity.'~entity~'.singular') |trans}} {% endblock %}

{% block body %}

<div class="container-fluid mt-3">
<div class="row">
	<div class="col">
		<h2 class=""> 
			{% if id != "new" %}
				{{ ('entity.general.crud.update') |trans |capitalize}}  {{ ('entity.'~entity~'.singular') |trans}}
			{% else %} 
				{{ ('entity.general.crud.create') |trans |capitalize}} {{ ('entity.'~entity~'.article') |trans}} {{ ('entity.'~entity~'.singular') |trans}}
			{% endif %}
		</h2>
	</div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-md-12">
		{{ form_start(form) }}
			<div class="row">
				{% if password == 'change' %}
					<div class="col-12 col-md-6 offset-md-3 bg-white mr-4 p-4">
						<h3>{{ (('entity.general.crud.access_information') |trans) |upper}}</h3>
						{{ form_row(form.password.first) }}
						{{ form_row(form.password.second) }}
					</div>
				{% else %}
					<div class="col-12 col-md bg-white mr-4 p-4">
						<h3>{{ (('entity.general.crud.information') |trans) |upper}}</h3>
						{{ form_row(form.tenant) }}
						{{ form_row(form.firstName) }}
						{{ form_row(form.lastName) }}
						{{ form_row(form.phoneNumber) }}
						{{ form_row(form.email) }}
					</div>
					<div class="col-12 col-md bg-white p-4">
						<h3>{{ (('entity.general.crud.access_information') |trans) |upper}}</h3>
						{% if id == 'new' %}
							{{ form_row(form.username) }}
							{{ form_row(form.password.first) }}
							{{ form_row(form.password.second) }}
						{% else %}
							<div class="col">{{ form_row(form.username) }}</div>
						{% endif %}
						{{ form_row(form.roles) }}
					</div>
					
				{% endif %}
			</div>
			
			<div class="row mt-4">
				{% if password == 'change' %}
				<div class="col-12 col-md-6 offset-md-3 bg-white mr-4 p-4">
				{% else %}
				<div class="col-12 bg-white p-4">
				{% endif %}
                    <p class="text-danger">{{ ('entity.general.crud.required_fields') |trans}}</p>

					<div class="row">
						<div class="col-md-6 text-center">
							<a href="{{ path('users_list') }}"><button type="button" class="btn btn-outline-secondary"><i class="fas fa-chevron-left">
							</i>&nbsp;{{ ('button.back') |trans}} {{ ('entity.'~entity~'.article_plural') |trans}} {{ ('entity.'~entity~'.plural') |trans}}</button></a>
						</div>
						<div class="col-md-6 text-center">
							{{ form_row(form.valider) }}
						</div>
					</div>
				</div>
			</div>
			
		{{ form_end(form) }}
	</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		$(document).ready(function() {
			$('.select2').select2();
		});
	</script>
	
{% endblock %}

